// Global styling

body {
  @apply text-center;
}

html,
body,
#__nuxt,
#__layout,
#__layout > div {
  @apply h-full;
}

// Page Transitions

.page-enter-active,
.page-leave-active {
  transition: opacity 75ms ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
