.DS_Store

# dependencies
node_modules

# logs
npm-debug.log
selenium-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# tests reports
coverage
test/e2e/reports

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
