language: node_js
node_js:
  - "8"

dist: trusty

addons:
  sonarcloud:
    organization: "jsulpis-github"
    token: $SONAR_TOKEN

cache:
  directories:
    - "node_modules"

branches:
  only:
    - master

install:
  - npm install

jobs:
  include:
    - stage: lint
      script: npm run lint
    - stage: test
      script: npm run test:coverage
    - stage: sonar
      script: sonar-scanner
    - stage: build
      script: npm run generate:gh-pages

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN # Set in travis-ci.org dashboard, marked secure https://docs.travis-ci.com/user/deployment/pages/#Setting-the-GitHub-token
  target-branch: gh-pages
  local-dir: dist
  on:
    branch: master
