:root {
	--color-grey-10-hsl: 0 0% 98%;
	--color-grey-30-hsl: 0 0% 90%;
	--color-grey-50-hsl: 0 0% 70%;
	--color-grey-70-hsl: 240 4% 25%;
	--color-grey-90-hsl: 240 4% 10%;
	--color-grey-100-hsl: 240 4% 5%;

	--color-primary-50-hsl: 155 100% 43%;

	@for $i from 1 through 10 {
		--color-grey-#{$i}0: hsl(var(--color-grey-#{$i}0-hsl));
	}

	@for $j from 5 through 5 {
		--color-primary-#{$j}0: hsl(var(--color-primary-#{$j}0-hsl));
	}
}
