@use "../abstract" as *;

html {
	color-scheme: dark;
}

body {
	background-color: var(--bg-page);
	color: var(--font-color-default);
	font-family: var(--font-family);
}

html,
body {
	height: 100%;
}

#__nuxt {
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding-top: 2.5rem;
	overflow: hidden;
	min-height: 100%;
}

svg {
	display: inline-block;
}

button,
a,
[tabindex="0"] {
	@include keyboard-focus;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	border-radius: var(--border-radius-default);
}
