@use "../abstract" as *;

html {
	color-scheme: dark;
}

body {
	background-color: var(--bg-page);
	color: var(--font-color-default);
	font-family: var(--font-family);
}

html,
body {
	height: 100%;
}

#__nuxt {
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding-top: 5rem;
	min-height: 100%;
	background: radial-gradient(
			150% 90% at 70% 50%,
			hsl(156 84% 10% / 0.4) 0%,
			hsl(240 4% 5% / 0) 50%
		),
		radial-gradient(
			150% 90% at 30% 70%,
			hsl(210 86% 11% / 0.4) 0%,
			hsl(240 4% 5% / 0) 50%
		);

	@include tablet-portrait-up {
		padding-top: 2.5rem;
	}
}

svg {
	display: inline-block;
}

[data-lock-scroll] {
	overflow: hidden !important;
}

button,
a,
[tabindex="0"] {
	@include keyboard-focus;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	border-radius: var(--border-radius-default);
}
